<html>
    <head>
        <title>
            Add a Sailor
        </title>
    </head>
    <body>
        <h1>Add a Sailor</h1>
        <form action="/sailors/add/post" method=POST>
        <label for="sname">Sailor name:</label><br>
        <input type="text" id="sname" name="sname"><br>
        <label for="age">Age:</label><br>
        <input type="number" id="age" name="age"><br>
        <label for="exp">Experience:</label><br>
        <input type="number" id="exp" name="exp"><br><br>
        <input type= Submit value="Add sailor"/><br>
        </form>
    </body>
</html>


