<html>
    <head>
        <title>
            Add a Voyage
        </title>
    </head>
    <body>
        <h1>Add a Voyage</h1>
        <form action="/voyage/add/post" method=POST>
        <label for="name">Sid:</label><br>
        <input type="number" id="sid" name="sid"><br>
        <label for="bid">Bid:</label><br>
        <input type="number" id="bid" name="bid"><br>
        <label for="Date_of_voyage">Date_of_voyage:</label><br>
        <input type="text" id="Date_of_voyage" name="Date_of_voyage"><br>
        <input type= Submit value="Add boat"/><br>
        </form>
    </body>
</html>


